{{ define "main" }}
  <section class="section">
    <h1 class="title is-1">{{ .Title }}</h1>
    <h2 class="subtitle">{{ .Description }}</h2>
  </section>
  <section class="section">
    <div class="columns">
      <div class="column is-8">
        {{ $paginator := .Paginate .Pages }}
        {{ range $paginator.Pages }}
          <div class="box">{{ partial "post" . }}</div>
        {{ end }}
        {{ template "partials/pagination.html" . }}
      </div>

      <div class="column">
        <h3>Tags</h3>

        {{ $tags := $.Site.Taxonomies.tags.ByCount }}
        <div class="tags are-medium">
          {{ range $tags }}
            {{ if .Term }}
              {{ $tagURL := printf "tags/%s" .Term | relURL }}
              <a href="{{ $tagURL }}" class="tag is-link"
                >{{ .Term }} <span class="badge">({{ .Count }})</span></a
              >
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
