{{ define "main" }}
  <section class="section">
    <h1 class="title is-1">{{ title .Title }}</h1>
    <p class="subtitle">{{ .Description }}</p>
  </section>

  <section class="section">
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="content">
          <ul>
            {{ range .Pages }}
              <li>
                <span
                  ><a href="{{ .Permalink }}">{{ .Title }}</a>
                  <span class="has-text-grey-light is-size-7 is-italic"
                    >{{ .Date | time.Format ":date_long" }}</span
                  ></span
                >
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ end }}
