@import "../node_modules/nord/src/sass/nord.scss";

$orange: $nord12;
$yellow: $nord13;
$green: $nord14;
$turquoise: $nord8;
$cyan: $nord9;
$blue: $nord10;
$purple: $nord15;
$red: $nord11;

$black: $nord0;
$black-bis: $nord1;
$black-ter: $nord2;

$grey-darker: darken($nord3, 5%);
$grey-dark: $nord3;
$grey: lighten($nord3, 25%);
$grey-light: lighten($nord3, 35%);
$grey-lighter: lighten($nord3, 48%);

$white: $nord6;
$white-bis: $nord5;
$white-ter: $nord4;

// invert
$yellow-invert: rgba($black, 0.7);
$primary-invert: rgba($black, 0.7);

$danger: $red;

$link: #466695;
$link-hover: $orange;

$weight-normal: 500;
$body-font-size: 1.2em;

$family-heading: "Raleway", "Lucida Grande", "Lucida Sans Unicode",
  "Lucida Sans", Geneva, Arial, sans-serif;
$family-serif: "Raleway", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
  Geneva, Arial, sans-serif;
$family-monospace: "Raleway", "Lucida Grande", "Lucida Sans Unicode",
  "Lucida Sans", Geneva, Arial, sans-serif;
$body-family: "Raleway", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
  Geneva, Arial, sans-serif;

$box-shadow: 0 0 1px $grey-light;

$navbar-background-color: $white-bis !default;
$navbar-item-active-background-color: $white-ter !default;
$navbar-item-hover-background-color: $white-ter !default;
$navbar-item-hover-color: $orange !default;

@import "../node_modules/bulma/bulma.sass";

.card-header-title,
.menu-label,
.message-header,
.modal-card-title,
.panel-heading,
.subtitle,
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $family-heading;
}

.card {
  $card-border-color: $grey-darker;
  box-shadow: 0 0 1px $grey-light;

  .card-header {
    box-shadow: none;
    border-bottom: 1px solid $grey-lighter;
  }
}
