@import "_theme";
@import "../node_modules/include-media/dist/include-media.scss";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  padding: 1rem;
}

.highlight {
  margin-bottom: 1em;
}

.lucide {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.hello {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  .title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .image {
    grid-column-start: 3;
    justify-self: center;
  }

  .subtitle {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }
}

@include media(">=tablet", "<desktop") {
  .hello {
    grid-template-columns: 20% 20%;
    .image {
      justify-self: right;
    }
    .subtitle {
      grid-column-end: 4;
    }
  }
}

@include media("<tablet") {
  .hello {
    grid-template-columns: 30% 20%;

    .subtitle {
      grid-column-end: 4;
    }
  }
}

.accent,
.dropcap {
  font-family: $family-heading;
  color: darken($nord15, 10%);
  text-shadow: $nord4 0.05em 0.05em;
}

.dropcap {
  float: left;
  font-size: 6rem;
  line-height: 1;
  margin: 0.1em 0.1em 0.2em 0;
  padding: 0.1em;
}
.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}
.dropcap:before {
  margin-top: -0.2em;
}
.dropcap:after {
  margin-bottom: -0.15em;
}

a {
  text-decoration: underline;
}

/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }

  figure.me img {
    transform: scaleX(-1);
  }

  .title,
  .subtitle {
    color: $nord6;
  }

  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $nord6;
    }

    blockquote {
      background-color: $nord3;
    }
  }

  html,
  body {
    background-color: $nord0;
    color: $nord6;
  }

  a,
  .has-text-black,
  .navbar-item,
  .has-text-grey-darker,
  .pagination-link,
  .pagination-next,
  .pagination-previous,
  .box {
    color: $nord4;
  }

  .pagination-previous[disabled],
  .pagination-next[disabled] {
    background-color: $nord0;
    color: $nord4;
  }

  .has-text-black,
  .has-text-grey-darker {
    color: $nord5 !important;
  }

  a.navbar-item.active {
    color: $nord0 !important;
  }

  .navbar,
  .footer,
  .box {
    background-color: $nord3;
  }

  .dropcap {
    text-shadow: $nord4 0.05em 0.05em;
  }
}
