<article class="media">
  <div class="media-content">
    <div class="content">
      <p class="title">
        <a class="has-text-grey-darker" href="{{.Permalink}}">{{.Title}}</a>
      </p>
      <p class="subtitle">By {{range .Params.authors}} {{.}} {{end}}</p>
    </div>

    <div class="content">
      <p>{{.Summary}}</p>
    </div>

    <nav class="level">
      <div class="level-left">
        <p class="is-italic">{{.Date.Format "02 Jan 2006"}}</p>
      </div>

      <div class="level-right">
        <a href="{{.Permalink}}">Read more...</a>
      </div>
    </nav>
  </div>
</article>
