<footer class="footer">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <i></i>
            </div>
        </div>

        <div class="level-right">
            <div class="level-item">
                <a href="mailto:ciao@lucapette.me"> <i class="gg-mail has-text-black"></i></a>
            </div>
            <div class="level-item">
                <a href="https://twitter.com/lucapette"> <i class="gg-twitter has-text-black"></i></a>
            </div>
        </div>
    </nav>
</footer>