<footer class="footer">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="content">
          Built with 💙 and <a href="/credits">tools</a>
        </div>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">
        <a href="mailto:ciao@lucapette.me">
          <svg class="lucide has-text-black">
            <use href="/img/lucide-sprite.svg#mail" />
          </svg>
        </a>
      </div>
      <div class="level-item">
        <a href="https://twitter.com/lucapette">
          <svg class="lucide has-text-black">
            <use href="/img/lucide-sprite.svg#twitter" />
          </svg>
        </a>
      </div>
      <div class="level-item">
        <a href="https://github.com/lucapette">
          <svg class="lucide has-text-black">
            <use href="/img/lucide-sprite.svg#github" />
          </svg>
        </a>
      </div>
      <div class="level-item">
        <a href="https://www.linkedin.com/in/lucapette/">
          <svg class="lucide has-text-black">
            <use href="/img/lucide-sprite.svg#linkedin" />
          </svg>
        </a>
      </div>
    </div>
  </nav>
</footer>
