<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }}</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
  />

  {{ $style := resources.Get "main.scss" | resources.ToCSS | resources.Minify |
    resources.Fingerprint
  }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />

  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `
      <link rel="%s" type="%s" href="%s" title="%s" />
      ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML
    }}
  {{ end -}}
  {{ partial "favicon" . }} {{ template "_internal/opengraph.html" . }}
  {{ template
    "_internal/twitter_cards.html" .
  }}
  <meta
    name="keywords"
    content="{{ delimit
      .Keywords ", "
    }}"
  />
</head>
