<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarPrimary"
      onclick="document.querySelectorAll('.navbar-menu, .burger').forEach(el => el.classList.toggle('is-active'));"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  {{ $current := . }}
  <div class="navbar-menu">
    <div class="navbar-start">
      {{ range .Site.Menus.main }}
        {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
        {{ $active = or $active (eq .Name $current.Title) }}
        <a
          class="navbar-item {{ if  $active }}is-active{{ end }}"
          href="{{ .URL }}"
          >{{ .Name }}</a
        >
      {{ end }}
    </div>
  </div>
</nav>
