<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ if eq .Title "Home" }}
    <title>Luca Pette</title>
  {{ else }}
    <title>{{ title .Title }} - Luca Pette</title>
  {{ end }}
  <!-- https://css-tricks.com/how-to-load-fonts-in-a-way-that-fights-fout-and-makes-lighthouse-happy/ -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@400..700&display=swap&family=Literata:wght@400..700&display=swap"
    as="style"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@400..700&display=swap&family=Literata:wght@400..700&display=swap"
    rel="stylesheet"
    media="print"
    onload="this.media='all'"
  />
  <noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400..700&display=swap&family=Literata:wght@400..700&display=swap"
    />
  </noscript>
  {{ $css := resources.Get "main.scss" | resources.ToCSS }}
  {{ $css = $css | resources.PostCSS | minify | fingerprint | resources.PostProcess }}
  <link href="{{ $css.RelPermalink }}" rel="stylesheet" />

  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `
      <link rel="%s" type="%s" href="%s" title="%s" />
      ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML
    }}
  {{ end -}}
  {{ partial "favicon" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ template
    "_internal/twitter_cards.html" .
  }}
  <meta
    name="keywords"
    content="{{ delimit
      .Keywords ", "
    }}"
  />
</head>
