<article class="media">
  <div class="media-content">
    <div class="content">
      <p class="title">
        <a class="has-text-grey-darker" href="{{ .Permalink }}">{{ .Title }}</a>
      </p>
      <p class="subtitle is-small is-italic">
        {{ .Date | time.Format ":date_long" }}
      </p>
    </div>

    <div class="content">
      <p>{{ .Summary }}</p>
    </div>

    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="tags">
            {{ range .Params.tags }}
              <a class="tag is-link" href="/tags/{{ . }}">{{ . }}</a>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="level-right">
        <div class="level-item">
          <a href="{{ .Permalink }}">Read more...</a>
        </div>
      </div>
    </nav>
  </div>
</article>
