<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}


  <script>
    window.plausible =
      window.plausible ||
      function () {
        (window.plausible.q = window.plausible.q || []).push(arguments);
      };
  </script>
  <script>
    plausible("404", { props: { path: document.location.pathname } });
  </script>

  <body>
    <div class="wrap">
      {{ partial "header" . }}


      <section class="section">
        <div class="has-text-centered-mobile has-text-centered-tablet">
          <span class="accent" style="font-size: 8em">404</span>
          <h1 class="is-size-1 is-size-3-mobile title">
            This page doesn't exist.
          </h1>
        </div>
      </section>
      <section class="section">
        <div>
          <h2
            class="is-size-4 has-text-centered-mobile has-text-centered-tablet"
          >
            Check out a selection of my favourite writing:
          </h2>
          <ul
            class="has-text-centered-mobile has-text-centered-mobile has-text-centered-tablet"
          >
            {{ range (where .Site.Pages.ByLastmod.Reverse "Params.favourite" true ) }}
              <li>
                <a class="is-size-4" href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      </section>
    </div>

    {{ partial "footer" . }}
  </body>
</html>
