<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}


  <body>
    <div class="wrap">
      {{ partial "header" . }}


      <section class="section">
        <div class="hello">
          <h1 class="is-size-1 is-size-3-mobile title">
            <span class="accent">Hi!</span>
            You've just found Luca Pette's website
            <span class="accent">:)</span>
          </h1>
          <figure class="me image is-128x128">
            {{ $image := resources.Get "me.png" }}
            {{ $small := $image.Resize "128x128 webp q90" }}
            {{ $medium := $image.Resize "256x256 webp q90" }}
            <img
              src="{{ $small.RelPermalink }}"
              srcset="
                {{ $small.RelPermalink }} 128w,
                {{ $medium.RelPermalink }} 256w
              "
              sizes="(max-width: 600px) 128px, 800px"
              alt="Luca Pette"
              width="128"
              height="128"
            />
          </figure>

          <p class="is-size-5-mobile subtitle">
            I use this website to share my
            <a href="/writing">writing</a>. If you're looking for more
            information about me, check out the
            <a href="/about">about me</a> page.
          </p>
        </div>
      </section>
      <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-4">
            <div>
              <h2 class="is-size-4 has-text-centered-mobile">Latest writing</h2>
              <ul class="has-text-centered-mobile">
                {{ range first 5 (where site.RegularPages "Type" "in" "writing") }}
                  <li>
                    <a class="is-size-4" href="{{ .Permalink }}"
                      >{{ .Title }}</a
                    >
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
          <div class="tile is-4">
            <div>
              <h2 class="is-size-4 has-text-centered-mobile">
                My favourite writing
              </h2>
              <ul class="has-text-centered-mobile">
                {{ range (where .Site.Pages.ByLastmod.Reverse "Params.favourite" true ) }}
                  <li>
                    <a class="is-size-4" href="{{ .Permalink }}"
                      >{{ .Title }}</a
                    >
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>

    {{ partial "footer" . }}
  </body>
</html>
