<!DOCTYPE html>
<html>
  {{ partial "head" . }}


  <body>
    <div class="wrap">
      {{ partial "header" . }}


      <section class="section">
        <div class="me">
          <img src="/img/me.png" alt="a picture of Luca Pette" />
        </div>
        <h1 class="title has-text-centered">
          Hi! You've just found Luca Pette's website
          <span class="smile">:)</span>
        </h1>
        <p class="has-text-centered is-size-5">
          I use this website to share my
          <a href="/writing">writing</a>. If you're looking for more information
          about me, check out the <a href="/about">about me</a> page.
        </p>
      </section>
      <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-4">
            <div>
              <h2>Latest writing</h2>
              <ul>
                {{ range first 5 (where site.RegularPages "Type" "in" "writing") }}
                  <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <span class="has-text-grey-light is-size-7 is-italic"
                      >{{ .Date.Format "Jan 2006" }}</span
                    >
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
          <div class="tile is-4">
            <div>
              <h2>My favourite writing</h2>
              <ul>
                {{ range (where .Site.Pages.ByLastmod.Reverse "Params.favourite" true ) }}
                  <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>

    {{ partial "footer" . }}
  </body>
</html>
