{{ define "main" }}
<section class="section">
  <h1 class="title is-1">{{.Title}}</h1>
  <p class="subtitle">{{.Description}}</p>
</section>

<section class="section">
  <div class="content">{{.Content}}</div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-two-thirds">
      <ul>
        {{ range (where site.RegularPages "Type" "in" "writing") }}
        <li>
          <span><a href="{{.Permalink}}">{{.Title}}</a></span>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
{{ end }}
